html {
    min-height: 100%;
    background-image: url("../img/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    background-color: rgba(0, 0, 0, 0.548);
    height: 300px;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
p{
    color: rgb(255, 166, 0);
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.sectionContainer, .sectionContainer2, .sectionContainer3{
    width: 100px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.none{
    display: none;
}
.flex{
    display: flex;
}
#toco1{
    position: absolute;
    width: 10px;
    height: 110px;
    background-color: rgb(114, 67, 5); 
}
#toco2{
    position: absolute;
    width: 10px;
    height: 110px;
    background-color: rgb(114, 67, 5);
}
#toco3{
    position: absolute;
    width: 10px;
    height: 110px;
    background-color: rgb(114, 67, 5);
}
#bloco1 {
    border: 1px solid rgb(255, 255, 255);
    display: block;
    background-color: red;
    
    height: 20px;
    border-radius: 8px;
    animation: change 0.8s infinite;
}
@keyframes change {
    0% { width: 20px; }
    50% {  width: 25px; }
    100% {  width: 20px; }
}
#bloco2 {
    border: 1px solid rgb(255, 255, 255);
    display: block;
    background-color: blue;
    height: 20px;
    border-radius: 8px;
    animation: change2 1s infinite;
}
@keyframes change2 {
    0% { width: 40px; }
    50% {  width: 45px; }
    100% {  width: 40px; }
}
#bloco3 {
    border: 1px solid rgb(255, 255, 255);
    display: block;
    background-color: yellowgreen;
    height: 20px;
    border-radius: 8px;
    animation: change3 1.2s infinite;
}
@keyframes change3 {
    0% { width: 60px; }
    50% {  width: 65px; }
    100% {  width: 60px; }
}
#bloco4 {
    border: 1px solid rgb(255, 255, 255);
    display: block;
    background-color: purple;
    height: 20px;
    border-radius: 8px;
    animation: change4 1.4s infinite;
}
@keyframes change4 {
    0% { width: 80px; }
    50% {  width: 85px; }
    100% {  width: 80px; }
}
#bloco5 {
    border: 1px solid rgb(255, 255, 255);
    display: block;
    background-color: orange;
    height: 20px;
    border-radius: 8px;
    animation: change5 1.5s infinite;
}
@keyframes change5 {
    0% { width: 100px; }
    50% {  width: 105px; }
    100% {  width: 100px; }
}
button{
    margin-top: 30px;
    color: white;
    transition: 0.4s;
    width: 80px;
    height: 30px;
    background-color: rgb(255, 166, 0);
    border: none;
    border-radius: 3px;
}
button:hover{
    background-color: rgb(90, 67, 22);
    transition: 0.4s;
}
@media (min-width: 600px) {
    main{
        width: 600px;
        height: 300px;
    }
    p{
        margin-left: 0;
    }
}