html {
    min-height: 100%;
    background-image: url("../img/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
     
}
body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    background-color: rgba(0, 0, 0, 0.548);
    margin-top: 20px;
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

p{
    color: rgb(255, 166, 0);
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.sectionContainer, .sectionContainer2, .sectionContainer3{
    margin: 5px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bloco1 {
    display: block;
    background-color: red;
    width:40px;
    height: 20px;
    border-radius: 8px;
}
#bloco2 {
    display: block;
    background-color: blue;
    width: 60px;
    height: 20px;
    border-radius: 8px;
}
#bloco3 {
    display: block;
    background-color: yellowgreen;
    width: 80px;
    height: 20px;
    border-radius: 8px;
}
#bloco4 {
    display: block;
    background-color: purple;
    width: 100px;
    height: 20px;
    border-radius: 8px;
}
#bloco5 {
    display: block;
    background-color: orange;
   
    width: 120px;
    height: 20px;
    border-radius: 8px;
}
#toco1{
   
    position: absolute;
    width: 10px;
    height: 110px;
    background-color: rgb(114, 67, 5);
    
}
#toco2{
   
    position: absolute;
    width: 10px;
    height: 110px;
    background-color: rgb(114, 67, 5);
   
}
#toco3{
   
    position: absolute;
    width: 10px;
    height: 110px;
    background-color: rgb(114, 67, 5);
   
}
button{
    margin-top: 30px;
    color: white;
    transition: 0.4s;
    width: 80px;
    height: 30px;
    background-color: rgb(255, 166, 0);
    border: none;
    border-radius: 3px;
}
button:hover{
    background-color: rgb(90, 67, 22);
    transition: 0.4s;
}

@media (min-width: 600px) {
    main{
        background-color: rgba(0, 0, 0, 0.548);
        margin-top: 20px;
        width: 600px;
        height: 300px;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
}